
<beans:beans xmlns="http://www.springframework.org/schema/security"
  xmlns:beans="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans

http://www.springframework.org/schema/beans/spring-beans-3.0.xsd


http://www.springframework.org/schema/security


http://www.springframework.org/schema/security/spring-security-3.1.xsd">

    <http auto-config="true" >

        <intercept-url
            access="ROLE_USER"
            pattern="/**" />
    </http>

    <beans:bean
        id="encoder"
        class="org.springframework.security.crypto.password.StandardPasswordEncoder" />

    <authentication-manager>

        <authentication-provider>

            <password-encoder ref="encoder" />
            
            <user-service>

                <user
                    name="user"
                    authorities="ROLE_USER"
                    password="20331ba9c4935517ab16f0052097b0d79f40f0a54a1a025ec742a308e8564757e021797bf7185332" />

            </user-service>
        </authentication-provider>
    </authentication-manager>

</beans:beans>









